/* body {
    margin: 0;
}
body div {
    padding-left: 10px;
} */

#notice {
    background-color: #909090;
    border: 1px solid black;
    height: min-content;
}

.form_account {
    display: none;
    border: 1px solid black;
    background-color: #858585;
    padding-bottom: 10px;

}

.form_textfield {
    background-color: #bbb4b4;
}
