/* #sec-deco {
    width: 100%;
    height: 100%;
    position: absolute;
}
#div-deco {
    height: 300px;
    width: 300px;

    border-radius: 100%;
    background-color: #42404b38;
    
    position: relative;
    float: left;
    top: -50px;
    left: -20px; 
} */

/* POPUPS */
#main-popups {
    display: none;
    position: absolute;
    width: 100vw;
    max-width: 900px;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}
.popup {
    /* visibility: hidden; */
    border-radius: var(--radius);
    background-color: var(--bg-popup);

    width: 200px;
    min-width: 200px;
    max-width: 250px;
    max-height: max-content;
}

.popup * {
    /* border: 1px solid black; */
}
.popup p {
    margin: 20px;
    text-align: center;
}
#pop-confirm {
    position: relative;
    margin-top: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

}
#pop-confirm:hover {
    background-color: var(--bg-popup-hover);
}
/* #pop-confirm p {
    margin: 20px;
    text-align: center;
} */
#pop-confirm div {
    /* margin: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* NOTICE */
#pop-notice {
    visibility: hidden;
    position: absolute;
    margin-top: 15%;
    right: 10px;

    display: flex;
    flex-direction: column;

    background-color: rgba(40, 112, 52, 0.775);

}
#pop-notice div {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr;
}
#pop-suppr {
    justify-self: right;
    background-color: transparent;
}